<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.buildcraftlabs.hotfix</string>
    <key>CFBundleName</key>
    <string>Hotfix</string>
    <key>CFBundleDisplayName</key>
    <string>Hotfix</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.8</string>
    <key>CFBundleVersion</key>
    <string>9</string>
    <key>CFBundleExecutable</key>
    <string>Hotfix</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSUserNotificationsUsageDescription</key>
    <string>Hotfix notifies you when a process is terminated.</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSSupportsAutomaticTermination</key>
    <false/>
    <key>NSSupportsSuddenTermination</key>
    <false/>
</dict>
</plist>
